.arrowSocial {
    height: 100px;
    width: 50px;
    margin: -50px 0px 0px 30px;
    transform: rotate(-120deg) scaleX(-1);
  }
  .arrowEmail {
    height: 100px;
    width: 50px;
    margin: 1rem 0px 0px 30px;
    transform: rotate(-120deg);
  }